@import 'utils/variables' ;

@import 'layout/base';
@import 'layout/signMAPIR';
@import 'layout/trait';
@import 'layout/btn';

@import 'component/btn-reponse';
@import 'component/header';
@import 'component/login';
@import 'component/questionnaire';