#login{
  text-align: center;
  form{
    margin: auto;
    padding: 100px 0 100px 0;
  }
  .form-inline{
    justify-content: flex-end;
    margin-bottom: 10px;
    input, select{
      margin-left: 5px;
      text-align: center;
      text-align-last: center;
      color: $color1;
      width: 170px;
    }
  }
  button{
    margin-top: 10px;
    padding:5px 30px 5px 30px;
  }
  .error{
    color: $colorError !important;
    border-color: $colorError;
  }
}

@media screen and (max-width: 768px){
  #login .form-inline{
    display: block;
    input, select{
      width: 100%;
      margin-left: 0;
    }
    label{
      justify-content: flex-start;
    }
  }
}