#questionnaire{
  position: relative;
  .exam_question{
    text-align: center;
    margin-bottom: 5px;
    padding-top: 10px;
    font-size: 1.7rem;
  }
  .exam_blocReponse{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    &::before{
      position: absolute;
      background-image: url("../img/Vestas_1.jpg");
      box-shadow: 0 20px 15px white inset, 0 -20px 15px white inset;
      z-index: -1;
      content:"";
      top:0;
      right:0;
      bottom:0;
      left:0;
      opacity:0.25;
    }
  }
  .exam_listeReponses{
    padding: 20px;
    input:checked + label{
      background-color: $color1;
      color:$color2;
    }
  }
  .exam_img{
    text-align: center;
    img{
      max-width: 100%;
      max-height: 500px;
    }
  }
  .exam_suivant{
    text-align: center;
    button{
      padding: 5px 30px 5px 30px;
      margin-bottom: 20px;
    }
  }
  .exam_compteur{
    position: absolute;
    right : 15%;
    bottom: 10px;
    font-style: italic;
    color: $color4;
    &_num{
      font-style: none;
      font-size: 2rem;
      color: $color1;
    }
  }
}

@media screen and (max-width: 768px){
  #questionnaire .exam_img img{
    max-height: 300px;
  }
}